#FriendsPanel > div > section > div.vkuiGroup__inner.Group__inner > div.vkuiCell.vkuiCell--android.Cell.Cell--android.vkuiCell--disabled.Cell--disabled > div > div.vkuiSimpleCell__main.SimpleCell__main > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}