.link{
    color: #3F8AE0;
}

.center{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.leftFlex{
    display: flex;
}

.disablePadding{
    padding: 0 0 0 0;
}

.disableMargin{
    margin: 0 0 0 0;
}

.vkuiSeparator__in--expanded{
    height: 3px;
}