.vkuiHeader{
    padding: none;
}

.HeaderWithIcon{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}